name: Build and Test

on:
  push:
    branches:
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"

permissions: {}

jobs:
  build-and-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: frasermolyneux/actions/dotnet-func-ci@main
        with:
          dotnet-project: "XtremeIdiots.Portal.Events.Ingest.App.V1"
          dotnet-version: 9.0.x
          src-folder: "src"
